* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
}

.select_input {
  min-width: 120px;
}

.info-input {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 500px;
  align-items: baseline;
  margin: auto;
}

.info-input > div {
  flex-grow: 1;
}

.info-input > div > div,
.info-input > div > div > div {
  width: 100%;
  max-width: initial;
}

.last_row > td {
  border-bottom: none;
}

.border-none {
  border-top: 1px solid rgba(224, 224, 224, 1);
}

.text-right {
  text-align: right !important;
}

.text-right > span {
  cursor: pointer;
  text-decoration: underline;
  padding: 0.2rem;
  display: block;
}

.text-right > span:hover {
  color: red;
}

.col-table input,
.col-table
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px 15px;
}

.col-table > .flex {
  display: flex !important;
  align-items: center;
  flex-direction: row !important;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
}

.col-table input {
  max-width: 40px;
}

.col-table button {
  font-size: 1.5rem;
  min-width: 1rem;
  min-height: 1rem;
}

td label {
  top: -7px !important;
}

.table_text-error {
  margin-right: 1rem;
}

.group_btn {
  width: 100%;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
}
